<div class="col-cmd-14">
  {% for eventday in hostedevent.days.all %}
  <div class="col-cmd-4-e col-csxx-14 col-csx-14 col-css-7 col-csm-7 uk-padding-small ">
    <div class="card border">
      <div class="card-header uk-position-relative uk-padding-remove-bottom">
        <div class="col-csxx-x-14">
          <div class="uk-text-bold col-csxx-x-14">
            DAY {{eventday.day}}
          </div>
          <div class="col-csxx-x-14 uk-text-center text-black-50">
            <div class=" uk-text-bold col-csx-4-e p-1" style="">
              <div class="rounded-sm border-success card border uk-margin-remove"
                style="height: 25px;width: 25px;display: inline-block;">
                <div id="days{{eventday.dayid}}" class="uk-position-center ">

                </div>
              </div>
            </div>
            <div class=" uk-text-bold  col-csx-4-e p-1" style="">
              <div class="rounded-sm border-primary card border uk-margin-remove"
                style="height: 25px;width: 25px;display: inline-block;">
                <div id="hours{{eventday.dayid}}" class="uk-position-center ">

                </div>
              </div>
            </div>

            <div class=" uk-text-bold  col-csx-4-e p-1" style=" ">
              <div class="rounded-sm border-warning card border uk-margin-remove"
                style="height: 25px;width: 25px;display: inline-block;">
                <div id="minutes{{eventday.dayid}}" class="uk-position-center ">

                </div>
              </div>
            </div>
            <div class=" uk-text-bold col-csx-4-e p-1" style=" ">
              <div class="rounded-sm border-danger card border uk-margin-remove"
                style="height: 25px;width: 25px;display: inline-block;">
                <div id="seconds{{eventday.dayid}}" class="uk-position-center ">

                </div>
              </div>
            </div>
          </div>
        </div>



        <div class=" uk-position-top-right uk-padding-small">
          <a class="uk-icon-button uk-position-relative"
            onclick="requestContentModal('{% url 'event_day_details' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid dayid=eventday.dayid %}','get')">
            <i class="icon plus vertical small uk-position-center uk-margin-remove"></i>
          </a>
        </div>


      </div>

      <div class="card-body uk-padding-small">
        <div class="card-title uk-text-bold rounded-pill bg-info uk-padding-small text-white"
          style="width: max-content;max-width: 100%;">
          {{eventday.title}}

        </div>
        <div class="col-csxx-14">
          <div class="col-csxx-7 text-center">
            <i class="icon calendar outline text-green"></i>
            <p class=" uk-margin-remove">
              {{eventday.start_date_time.date}}
            </p>
          </div>
          <div class="col-csxx-7 text-center">
            <i class="icon clock outline text-green"></i>
            <p class=" uk-margin-remove">
              {{eventday.start_date_time.time}}
            </p>
          </div>
        </div>
        <div class="col-csxx-14">
          <div class="col-csxx-7 text-center">
            <i class="icon calendar outline text-danger"></i>
            <p class=" uk-margin-remove">
              {{eventday.end_date_time.date}}
            </p>
          </div>
          <div class="col-csxx-7 text-center">
            <i class="icon clock outline text-danger"></i>
            <p class=" uk-margin-remove">
              {{eventday.end_date_time.time}}
            </p>
          </div>
        </div>
      </div>
      <div class="card-footer uk-padding-small uk-text-center">
        <button class="btn btn-success bg-gradient-success my-4 content-modal"
        contenturl="{% url 'event_day_registration' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid dayid=eventday.dayid %}">
        <i class="ni ni-user-run"></i>
        Register</button>
        {% if register %}
        <button class="btn btn-success bg-gradient-success my-4 content-modal"
          contenturl="{% url 'event_day_registration' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid dayid=eventday.dayid %}">
          <i class="ni ni-user-run"></i>
          Register</button>

        {% elif registered %}
        <i class="icon check circle outline massive uk-position-center text-success opacity-1">
        </i><span class="uk-position-center text-success opacity-1 uk-text-lead">REGISTERED</span>

        <!-- <button class="btn btn-outline-success uk-disabled">
              Registered
            </button> -->
        {% if hostedevent.verification_steps == '2' %}
        {% if registration.verified %}

        <button class="btn btn-secondary full-content-modal btn-sm"
          contenturl="{% url 'attendee_qrcode' eventid=hostedevent.eventid %}"><i class="icon qrcode large"></i> MY
          QRCODE</button>

        {% else %}
        <button class="btn btn-outline-success qr-scan uk-margin-remove uk-padding-small"
          contenturl="{% url 'event_qrcode_attendance' eventid=hostedevent.eventid %}"
          eventid="{{hostedevent.eventid}}{{eventday.dayid}}"><i class="icon qrcode big"></i></button>
        {% endif %}
        {% endif %}
        {% else %}

        {% if eventday.registrations.count > 0 %}
        {% for registration in eventday.registrations.all %}
        {% if registration.attendee == client %}
        <button class="btn btn-outline-success">
          Registered
        </button>
        {% else %}
        <button class="btn btn-success bg-gradient-success my-4 content-modal"
          contenturl="{% url 'event_day_registration' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid dayid=eventday.dayid %}">
          <i class="ni ni-user-run"></i>
          Register</button>
        {% endif %}
        {% endfor %}
        {% else %}
        <button class="btn btn-success bg-gradient-success my-4 content-modal"
          contenturl="{% url 'event_day_registration' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid dayid=eventday.dayid %}">
          <i class="ni ni-user-run"></i>
          Register</button>
        {% endif%}
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<script>
  var eventDayIds = []
  {% if hostedevent.verification_steps != '0' %}
  eventdayids = [{% for eventday in hostedevent.days.all %} '{{eventday.dayid}}',{% endfor %}]
  {% endif %}
  var attendeeVerificationUrl = ''
  var eventId = ''
  {
    (function ($) { //Most read async
      $('.qr-scan').on('click', function (event) {
        var eventButton = $(this)
        attendeeVerificationUrl = eventButton.attr('contenturl')
        eventId = eventButton.attr('eventid')
        alert(eventId)
        UIkit.modal($('#qr-modal')).show();
        Webcam.set({
          width: 350,
          height: 350,
          image_format: 'jpeg',
          jpeg_quality: 100
        });
        Webcam.attach('#example');


        // $('#button').click(function () {
        // 	take_snapshot();66666
        // });
        Webcam.on('load', function () {
          qrCodeInterval = setInterval(take_snapshot, 100)
          qrcode.callback = attendeeQrVerification;
        });

      })


    }(jQuery))
  };

  {
    (function ($) { //Most read async
      $('.qr-close').on('click', function (event) {
        try {
          clearInterval(qrCodeInterval)
          Webcam.reset()
        } catch (ReferenceError) {

        }
      });
    }(jQuery))
  };

  $('.ui.progress').progress()
</script>


