 {% extends "base/ubase.html" %}
{% load static %}
{% block content %}

<div class="container p-2 mt-5 bg-transparent" id="">

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay:false">
  
      <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@ pb-3 pt-3">
        {% for record in records %}

        <li class="col-csxx-x-14 load-content" 
        contenturl="{% url 'dashboard_record' pk=record.pk %}">
             
        </li>
        {% endfor %}
      </ul>
      <div class="fixed-bottom mb-5">
        <a href="#" uk-slider-item="previous" class="uk-icon-button bg-lighter  uk-position-center-left ml-3 p-5">
          <i class="uk-position-center" uk-icon="icon:arrow-left;ratio:2" style="color: black;" ></i>
        </a>
        <a href="#" uk-slider-item="next" class="uk-icon-button bg-lighter uk-position-center-right mr-3 p-5 ">
          <i class="uk-position-center" uk-icon="icon:arrow-right;ratio:2" style="color: black;" ></i>

            </a>
      </div>
     
  </div>
  </div>


<script>

  {
    (function ($) { //Most read async
      $('.main-content-btn').on('click', function (event) {
        event.preventDefault();
        var link = $(this);
        $.ajax({
          beforeSend: function () {

            $('#loader-cover').show()
          },
          complete: function () {
          },
          type: 'get',
          url: link.attr('contenturl'),
          data: {
            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          },
          success: function (response) {
            // if there are still more pages to load,
            // add 1 to the "Load More Posts" link's page data attribute
            // else hide the link
            // append html to the posts div
            //$('.uk-modal-header-title').empty()

            //$('.uk-modal-header-title').append(link.attr('inner-html'));
            if (response.content) {
              window.location - '#top'
              $('#tab-header').empty()
              $('#tab-header').append(response.header);
              $('#inner-container').empty();
              $('#inner-container').append(response.content);
              $('#loader-cover').hide()
            }

            if (response.message) {
              $('#notification-modal-inner').empty()
              $('#notification-modal-inner').append(response.message)
              $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
              UIkit.modal($('#notification-modal')).show();
            }


          },
          error: function (xhr, status, error) {
            alert('there was an error')
          }
        });
      });
    }(jQuery))
  };


</script>



{% endblock content %}