{% load static %}
<script type="text/javascript">

  window.CSRF_TOKEN = "{{csrf_token}}";
</script>
<script src=" {% static 'base/material/assets/js/core/jquery.min.js' %} "></script>
  <script src="{% static 'base/uikit/js/uikit.min.js' %}"></script>
  <script src="{% static 'base/uikit/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'base/material/assets/js/core/popper.min.js' %}"></script>
  <!-- <script src="{% static 'base/boomerang/assets/js/theme.js' %}"></script> -->
 <!-- <script src="{% static 'base/material/assets/js/core/bootstrap-material-design.min.js' %}"></script> -->
  <script src="{% static 'base/material/assets/js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'base/argon/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'base/argon/vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'base/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'base/argon/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'base/countrycodes/js/intlTelInput.min.js' %}"></script>
  <script src="{% static 'base/countrycodes/js/intlTelInput-jquery.min.js' %}"></script>
  <script src="{% static 'base/argon/vendor/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'base/argon/vendor/chart.js/dist/Chart.extension.js' %}"></script>
 <script src="{% static 'base/argon/js/argon.js' %}?v=1.2.0" type="text/javascript"></script>
 
  <script src="{% static 'base/material/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'base/material/assets/js/plugins/nouislider.min.js' %}"></script>
  <!-- <script src="{% static 'base/material/assets/js/material-kit.js' %}"></script> -->
  <script src="{% static 'base/material/assets/js/buttons.js' %}"></script>
  <!-- <script src="{% static 'base/material/assets/js/material-kit.minb68f.js' %}"></script> -->
   <!-- <script src="{% static 'base/material/assets/js/material-kit.minf27d.js' %}"></script> -->
   <script src="{% static 'base/countdown/js/jQuery.countdownTimer.js' %}"></script>
   <script src="{% static 'base/formvalidation/DjValidator.js' %}"></script>

 <script src="{% static 'base/semantic/semantic.min.js' %}"></script>


  <!-- <script src="{% static 'base/custom/custom.js' %}"></script> -->
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{% static 'base/girly/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'base/girly/js/main.js' %}"></script>
<script src="{% static 'base/custom/paystack.js' %}"></script>
 <script src="{% static 'base/idle/jquery.idle.js' %}"></script>
 <script src="{% static 'base/visible/jquery.visible.js' %}"></script>
 <script src="{% static 'base/visibility/jquery-beacons.js' %}"></script>
  <script src="{% static 'base/inputcounter/js/handleCounter.js' %}"></script>
  <script src="{% static 'base/bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'base/imagepreview/js/jpreview.js' %}"></script>
  <!-- <script src="{% static 'base/searchselect/js/jquery-customselect-1.9.1.js' %}"></script>-->
  <script src="{% static 'base/tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'base/tinymce/tinymce.min.js' %}"></script> 
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script>
  <!-- <script src="{% static 'base/tinymce/custom.js' %}"></script>
  <script src="{% static 'base/videothumbnails/jquery.youtubevideo.js' %}"></script>
  <script src="{% static 'base/videomodal/jquery-modal-video.js' %}"></script>
  <script src="{% static 'base/videomodal/modal-video.js' %}"></script>

  <script>

    
    $(document).ready(function() {

      if ($('.datetimepicker').length != 0) {
        materialKit.initFormExtendedDatetimepickers();
      }

      if ($('.slider').length != 0) {
        materialKit.initSliders();
      }

      //  Activate the tooltips
      $('[data-toggle="tooltip"]').tooltip();

      // Activate Popovers
      $('[data-toggle="popover"]').popover();

    });
  </script>
-->
<!-- <script src="https://checkout.flutterwave.com/v3.js"></script> -->

<script>
// var paymentForm = document.getElementById('paymentForm');

// paymentForm.addEventListener('submit', payWithPaystack, false);



</script>
