<div class="card-body">

  <form role="form" id='createeventarrangementform' enctype="multipart/form-data" class="form uk-padding-small"
    method="POST" action="">
    {% csrf_token %}

    <div class="form-group mb-3">
      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">subject</i></span>
        </div>
        <input class="form-control" placeholder="Arrangement Name" type="text" name="name" required>
      </div>
    </div>

    <div class="form-group mb-3">
      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-dashboard"></i></span>
        </div>
        <input class="form-control" placeholder="No. of sections" type="number" name="sections" required>
      </div>
    </div>
    <div class="form-group mb-3">
      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-table"></i></span>
        </div>
        <input class="form-control" placeholder="No. of Tables per section" type="number" name="tables_per_section"
          required>
      </div>
    </div>
    <div class="form-group mb-3">
      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-chair"></i></span>
        </div>
        <input class="form-control" placeholder="No. of Chairs per table" type="number" name="chairs_per_table"
          required>
      </div>
    </div>
    <div class="text-center">


      <button type="submit" class="btn btn-primary my-4 arrangement-form-submit rounded-pill" action="next">Create and add
        another</button>

      <button type="submit" class="btn btn-primary my-4 arrangement-form-submit rounded-pill" action="exit">Create and exit</button>
    </div>
  </form>

</div>

<script>
  var submit = false
  var action = ''
  {
    (function ($) {
      $('.arrangement-form-submit').on('click', function (event) {
        button = $(this)
        action = button.attr('action')
      })
    }(jQuery))
  }
  $('#createeventarrangementform').djValidator({ mode: 'submit', success: () => { submit = true } })

  $("#createeventarrangementform").submit(function (event) {
    event.preventDefault(); //prevent default action 
    var post_url = '/createeventarrangement/{{hostedevent.eventid}}/{{hostedevent.hostedeventid}}/{{dayid}}/' + action; //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Creates new FormData object
    if (submit == true) {

      $.ajax({
        beforeSend: function () {
          $('#loader-cover').show()
        },
        complete: function () {
          $('#loader-cover').hide()
        },
        url: post_url,
        type: request_method,
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,

        success: function (response) {

          if (response.done) {
            if (response.next) {
              $('#manager-container').removeClass('uk-animation-fade')
              $('#manager-container').addClass('uk-animation-fade')
              $('#manager-container').empty()
              $('#manager-container').append(response.content)
              $('#content-modal-body').empty()
              $('#content-modal-body').append(response.modal_content)

            }
            else if (response.exit) {
              $('#manager-container').removeClass('uk-animation-fade')

              $('#manager-container').addClass('uk-animation-fade')
              $('#manager-container').empty()
              $('#manager-container').append(response.content)
              UIkit.modal($('#content-modal')).hide();
          }
          if(response.message){
            UIkit.notification.closeAll()
          UIkit.notification(response.message)
          }

          }

        },
        error: function (xhr, status, error) {
          UIkit.notification.closeAll()
          UIkit.notification('Not sent. Check your internet connection',)
        }
      });

    }
  });

  function isEleven($field) {
    value = $field.val();
    if (value.length == 11) {
      if (isNaN(value)) { return false }
      else { return true }
    }
    else {
      return false;
    }
  }

  function isNotEmpty($field) {
    value = $field.val();
    if (value.length > 15) {
      return true
    }
    else {
      return false;
    }
  }
</script>
<script>
  $('.previewimage').jPreview();

  $('.datetimepicker').datetimepicker({
    icons: {
      time: "fa fa-clock",
      date: "fa fa-calendar",
      up: "fa fa-chevron-up",
      down: "fa fa-chevron-down",
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-screenshot',
      clear: 'fa fa-trash',
      close: 'fa fa-remove'
    }
  });

</script>