
<div class="card-body text-left">

  <form role="form" id='editeventticketform' enctype="multipart/form-data" class="form uk-padding-small" method="POST"
    action="{% url 'edit_hosted_event_ticket' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid ticketid=ticket.ticketid %}">
    {% csrf_token %}

    <div class="form-group mb-3">
      <label for="name" class="uk-text-lead text-sm">Price</label>

      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">subject</i></span>
        </div>
        <input class="form-control" placeholder="Ticket Name" type="text" id="name" name="name" value="{{ticket.name}}"
          required>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="price" class="uk-text-lead text-sm">Price</label>

      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="">₦</i></span>
        </div>
        <input class="form-control" placeholder="Ticket Price" type="number" id="price" name="price"
          value="{{ticket.price}}" required>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="attendance_limit" class="uk-text-lead text-sm">Attendance Limit</label>
      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon users"></i></span>
        </div>

        <input class="form-control uk-disabled" id="attendance_limit" placeholder="Ticket Quantity" type=""
          name="attendance_limit" value="{{ticket.attendance_limit}}" required>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="sections" class="uk-text-lead text-sm">Sections</label>

      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-dashboard"></i></span>
        </div>
        <input class="form-control" placeholder="No. of sections" id="sections" type="number" name="sections"
          value="{{ticket.sections}}" required>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="tables_per_section" class="uk-text-lead text-sm">Tables per section</label>

      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-table"></i></span>
        </div>
        <input class="form-control" placeholder="No. of Tables per section" type="number" id="tables_per_section"
          name="tables_per_section" value="{{ticket.tables_per_section}}" required>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="chairs_per_table" class="uk-text-lead text-sm">Chairs per table</label>

      <div class="input-group input-group-merge input-group-alternative border rounded-lg overflow-hidden shadow-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-chair"></i></span>
        </div>
        <input class="form-control" placeholder="No. of Chairs per table" type="number" id="chairs_per_table"
          name="chairs_per_table" value="{{ticket.chairs_per_table}}" required>
      </div>
    </div>
    <div class="text-center">

      <button type="submit" class="btn btn-primary my-4 arrangement-form-submit" action="next">Save</button>

    </div>
  </form>

</div>

<script>
  var submit = false
  var action = ''
  {
    (function ($) {
      $('.ticket-form-submit').on('click', function (event) {
        button = $(this)
        action = button.attr('action')
      })
    }(jQuery))
  }
  $('#editeventticketform').djValidator({ mode: 'submit', success: () => { submit = true } })

  $("#editeventticketform").submit(function (event) {
    event.preventDefault(); //prevent default action 
    var post_url = $(this).attr("action"); //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Creates new FormData object
    if (submit == true) {

      $.ajax({
        beforeSend: function () {
          $('#loader-cover').show()
        },
        complete: function () {
          $('#loader-cover').hide()
        },
        url: post_url,
        type: request_method,
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,

        success: function (response) {

          if (response.done) {
            if (response.content) {
              $('#manager-container').removeClass('uk-animation-fade')

              $('#manager-container').addClass('uk-animation-fade')
              $('#manager-container').empty()
              $('#manager-container').append(response.content)

              UIkit.modal($('#content-modal')).hide();
            }
          }
          if (response.message) {
            UIkit.notification.closeAll()
            UIkit.notification(response.message,)
          }

        },
        error: function (xhr, status, error) {
          UIkit.notification.closeAll()
          UIkit.notification('Not sent. Check your internet connection',)
        }
      });

    }
  });

  function isEleven($field) {
    value = $field.val();
    if (value.length == 11) {
      if (isNaN(value)) { return false }
      else { return true }
    }
    else {
      return false;
    }
  }

  function isNotEmpty($field) {
    value = $field.val();
    if (value.length > 15) {
      return true
    }
    else {
      return false;
    }
  }
</script>
<script>
  $('.previewimage').jPreview();

  $('.datetimepicker').datetimepicker({
    icons: {
      time: "fa fa-clock",
      date: "fa fa-calendar",
      up: "fa fa-chevron-up",
      down: "fa fa-chevron-down",
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-screenshot',
      clear: 'fa fa-trash',
      close: 'fa fa-remove'
    }
  });

</script>

<script>
  {
    (function ($) { //Most read async

      $.ajax({
        beforeSend: function () {
          $('#loader-cover').show()
        },
        complete: function () {

        },
        type: 'get',
        url: "{% url 'dashboard_content' %}",
        data: {
          'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
        },
        success: function (response) {
          if (response.content) {
            $('#inner-container').empty()
            $('#inner-container').append(response.content)

            $('#loader-cover').hide()
          }

        },
        error: function (xhr, status, error) {

          $('#notification-modal-inner').empty()
          $('#notification-modal-inner').append('There was an error')
          $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
          UIkit.modal($('#notification-modal')).show();
        }
      });
    }(jQuery))
  };
</script>