<div class="card bg-white">
    <div class="card-header bg-secondary p-2 position-relative" style="z-index: 2;">
        <div class="align-items-center row m-0">


            <div class="col-csxx-12  m-0">
                <span class="h5 text-uppercase ls-1 mb-1 p-1 ">{{hostedevent.title}}
                </span>
                {% if hostedevent.published %}
                <span class="border border-success rounded-pill pl-1 pr-1 pt-0 pb-0  text-success text-sm"
                    style="">LIVE</span>
                {% endif %}
            </div>



            <div class="uk-position-center-right">
                <a type="button" class="uk-padding-small"><i class="icon ellipsis vertical text-default"></i></a>
                <div uk-dropdown='pos:bottom-right;mode:click'
                    class="rounded-lg uk-padding-remove overflow-hidden shadow-sm border">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active dropdown-item p-0">
                            {% if hostedevent.published %}
                            <a onclick="requestContentModal('{% url 'unpublish_hosted_event' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid%}','get')"
                                class="dropdown-item action-btn p-2">
                                <i
                                    class="icon wifi {% if hostedevent.publishable %} text-dark {% else %} text-warning {% endif %}"></i>
                                <span>Unpublish</span>
                            </a>

                            {% else %}
                            <a onclick="requestContentModal('{% url 'publish_hosted_event' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid%}','get')"
                                class="dropdown-item p-2">
                                <i
                                    class="icon wifi {% if hostedevent.publishable %} text-blue  {% else %} text-warning {% endif %}"></i>
                                <span>Publish</span>
                            </a>
                            {% endif %}

                        </li>
                        <li class="dropdown-item p-0">
                            <a onclick="requestContentModal('{% url 'edit_hosted_event' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid %}','get')"
                                class="dropdown-item content-modal p-2">
                                <i
                                    class="icon edit {% if hostedevent.editable %} text-info {% else %} text-warning {% endif %}"></i>
                                <span>Edit</span>
                            </a>


                        </li>
                        <li class="dropdown-item p-0">
                            <a href="{% url 'edit_event' eventid=hostedevent.eventid %}" class="dropdown-item p-2">
                                <i class="icon trash text-danger"></i>
                                <span>Delete</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body p-0 position-relative" style="z-index: 1;">
        <div class="col-csxx-14">

            {% include 'users/hosted_event_main_details.html' %}

        </div>
        <div class="col-csxx-14 pt-4">
            <div class="col-cmd-7 col-csm-14 col-css-14 col-csx-14 col-csxx-14">

                <div class="uk-text-bold uk-padding-small border-bottom">
                    Event URL
                </div>
                <button class=" bg-secondary btn btn-sm uk-padding-small ls-1 mb-1">
                    {% url 'event_details' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid
                    %}</button>
                <button class="btn btn-dark my-4 uk-padding-small btn-sm"> <i class="icon copy text-white"></i> copy
                    url</button>

            </div>
            <div class="col-cmd-7 col-csm-14 col-css-14 col-csx-14 col-csxx-14">
                <div class="uk-text-bold uk-padding-small border-bottom">
                    Share
                </div> <a type="button" class="uk-icon-button uk-text-center my-4"><i
                        class="icon facebook f large uk-margin-remove" style="color: blue;"></i>
                </a>
                <a type="button" class="uk-icon-button my-4 uk-text-center"><i
                        class="icon whatsapp large uk-margin-remove" style="color: darkgreen;"></i>
                </a>
                <a type="button" class="uk-icon-button my-4"><i class="icon instagram large uk-margin-remove"
                        style="color: purple;"></i>
                </a>
                <a type="button" class="uk-icon-button my-4"><i class="icon twitter large uk-margin-remove"
                        style="color: steelblue;"></i>
                </a>

            </div>
        </div>
    </div>


</div>


<div id="qr-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog bg-secondary" style="height: 100%;">
        <button
            class="uk-modal-close-full btn btn-danger uk-position-top-right uk-margin-small-top uk-padding-remove uk-text-bold qr-close"
            type="button" style="border-radius: 50%;height: 50px;width: 50px;">Close</button>
        <div class="modal-body qr-body" id="qr-modal-inner">
            <div class="container uk-margin-large-top">
                <form>
                    <div class="uk-margin">
                        <div class="uk-inline" style="width: 100%;">
                            <span class="uk-form-icon" uk-icon="icon: search"></span>
                            <input class="uk-input uk-border-pill" id="host-verification-search" type="text"
                                placeholder="Enter registration ID">
                        </div>
                    </div>
                </form>
                <div id="verification-result" class="uk-text-center uk-margin-small-bottom"></div>
            </div>

            <div class="pageWrapper">

                <div class="boxWrapper uk-text-center" style="border: none;">
                    <div id="example" class="" style="max-width:100%; height:auto;width:100%;display: inline-block;">
                    </div>
                </div>

            </div>

            <div id='qr-data' class="uk-text-lead">

            </div>
        </div>
    </div>
</div>

<script>
    {
        (function ($) { //Most read async
            $('.content-modal').on('click', function (event) {
                event.preventDefault();
                var link = $(this);
                $.ajax({
                    beforeSend: function () {

                        $('#loader-cover').show()
                    },
                    complete: function () {
                    },
                    type: 'get',
                    url: link.attr('contenturl'),
                    data: {
                        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
                    },
                    success: function (response) {
                        // if there are still more pages to load,
                        // add 1 to the "Load More Posts" link's page data attribute
                        // else hide the link
                        // append html to the posts div
                        //$('.uk-modal-header-title').empty()

                        //$('.uk-modal-header-title').append(link.attr('inner-html'));
                        if (response.done) {
                            $('#manager-container').removeClass('uk-animation-fade')

                            UIkit.modal($('#content-modal')).hide();
                            $('#manager-container').addClass('uk-animation-fade')
                            $('#manager-container').empty()
                            $('#manager-container').append(response.content)
                            if (response.message) {
                                UIkit.notification.closeAll()
                                UIkit.notification(response.message)
                            }
                        }

                        else {
                            if (response.modal_message) {
                                messageModal(response.modal_message)

                            }
                        }
                        if (response.message) {
                            UIkit.notification.closeAll()
                            UIkit.notification(response.message)
                        }




                    },
                    error: function (xhr, status, error) {
                        alert('there was an error')
                    }
                });
            });
        }(jQuery))
    };

    {
        (function ($) { //Most read async
            $('.full-content-modal').on('click', function (event) {
                event.preventDefault();
                var link = $(this);
                $.ajax({
                    beforeSend: function () {

                        $('#loader-cover').show()
                    },
                    complete: function () {
                    },
                    type: 'get',
                    url: link.attr('contenturl'),
                    data: {
                        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
                    },
                    success: function (response) {
                        // if there are still more pages to load,
                        // add 1 to the "Load More Posts" link's page data attribute
                        // else hide the link
                        // append html to the posts div
                        //$('.uk-modal-header-title').empty()

                        //$('.uk-modal-header-title').append(link.attr('inner-html'));
                        if (response.content) {
                            $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
                            UIkit.modal($('#full-content-modal')).show();
                            $('#full-content-modal-body').empty()
                            $('#full-content-modal-body').append(response.content)
                        }

                        if (response.message) {
                            UIkit.notification.closeAll()
                            UIkit.notification(response.message)
                        }


                    },
                    error: function (xhr, status, error) {
                        alert('there was an error')
                    }
                });
            });
        }(jQuery))
    };


    {
        (function ($) { //Most read async
            $('.action-btn').on('click', function (event) {
                event.preventDefault();
                var link = $(this);
                $.ajax({
                    beforeSend: function () {

                        $('#loader-cover').show()
                    },
                    complete: function () {
                    },
                    type: 'post',
                    url: link.attr('contenturl'),
                    data: {
                        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
                    },
                    success: function (response) {
                        // if there are still more pages to load,
                        // add 1 to the "Load More Posts" link's page data attribute
                        // else hide the link
                        // append html to the posts div
                        //$('.uk-modal-header-title').empty()

                        //$('.uk-modal-header-title').append(link.attr('inner-html'));
                        if (response.done) {
                            if (response.content) {
                                $('#manager-container').removeClass('uk-animation-fade')

                                $('#manager-container').addClass('uk-animation-fade')
                                $('#manager-container').empty()
                                $('#manager-container').append(response.content)
                            }

                            if (response.message) {
                                UIkit.notification.closeAll()
                                UIkit.notification(response.message)

                            }
                        }
                        else {
                            if (response.modal_message) {
                                messageModal(response.modal_message)

                            }
                        }



                    },
                    error: function (xhr, status, error) {
                        alert('there was an error')
                    }
                });
            });
        }(jQuery))
    };


    var hostdoubleVerificationUrl = ''
    var eventId = ''
    var eventInitials = '{{hostedevent.initials}}'
    {
        (function ($) { //Most read async
            $('.qr-scan').on('click', function (event) {
                var eventButton = $(this)
                hostdoubleVerificationUrl = eventButton.attr('contenturl')
                eventId = eventButton.attr('eventid')
                UIkit.modal($('#qr-modal')).show();
                Webcam.set({
                    width: 350,
                    height: 250,
                    image_format: 'jpeg',
                    jpeg_quality: 100
                });
                Webcam.attach('#example');


                // $('#button').click(function () {
                // 	take_snapshot();66666
                // });
                Webcam.on('load', function () {
                    qrCodeInterval = setInterval(take_snapshot, 100)
                    qrcode.callback = hostQrVerification;
                });

            })


        }(jQuery))
    };


    {
        (function ($) { //Most read async
            $('.qr-close').on('click', function (event) {
                try {
                    clearInterval(qrCodeInterval)
                    Webcam.reset()
                } catch (ReferenceError) {

                }




            });
        }(jQuery))
    };


    {
        (function ($) { //Most read async
            $('#host-verification-search').on('input', function () {


                var hostverificationsearch = $(this);
                var query = hostverificationsearch.val()
                if (hostverificationsearch.val() == '') {
                    $('#verification-result').empty()
                }
                if (query != '' && query.length > 7) {
                    $.ajax({
                        beforeSend: function () {

                            $('#search-box-container').addClass('loading');


                        },
                        complete: function () {
                            $('#search-box-container').removeClass('loading');
                        },
                        type: 'get',
                        url: "{% url 'host_qrcode_verification' eventid=hostedevent.eventid hostedeventid=hostedevent.hostedeventid %}",
                        data: {
                            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
                            'registrationid': query
                        },
                        success: function (response) {
                            // if there are still more pages to load,
                            // add 1 to the "Load More Posts" link's page data attribute
                            // else hide the link
                            // append html to the posts div
                            //$('.uk-modal-header-title').empty()

                            //$('.uk-modal-header-title').append(link.attr('inner-html'));
                            $('#verification-result').empty()
                            $('#verification-result').append(response.message);
                            $('.disappear').on('click', function (event) {
                                $('#verification-result').empty()

                            })






                        },
                        error: function (xhr, status, error) {
                            alert('there was an error')
                        }
                    });
                }
            });
        }(jQuery))
    };


</script>