<i class="material-icons uk-border-circle bg-primary"
    style="font-size: 2rem;line-height: 2rem;height: 40px;width: 40px; color: white;margin-top: -10px;border: 4px solid white;">
    account_circle</i>
<div class="card card-login uk-padding-small" id="other_support" style="box-shadow: none;">
    <div class="uk-card-header card-header-primary uk-border-rounded uk-padding-small uk-text-left uk-text-lead input-group uk-margin-remove"
        style="box-shadow: none;">
        <i class="material-icons " style="line-height: 1.5;">edit</i>
        <span class="uk-padding-small">Update Profile</span>
    </div>
    <form id="profileform" class="form" method="POST" action="{% url 'update_profile' %}"
        style=" min-height: max-content; max-height: max-content;">

        {% csrf_token %}

        <div class="card-body">
            <div class="input-group uk-padding-small uk-border-rounded card-header-info uk-margin-small-top"
                style="box-shadow: none;">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons" style="color: white;">face</i>
                    </span>
                </div>
                <div>
                    Personal Data
                </div>
            </div>
            <div class="card uk-margin-small-top">

                <div class="card-body uk-margin-large-bottom">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text uk-text-bold">
                                <!-- <i class="material-icons">face</i>  -->
                                First name
                            </span>
                        </div>
                        <input type="text" class="form-control" required name="first_name" id="first_name_id"
                            placeholder="Your First name" value="{{request.user.first_name}}">
                    </div>


                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text uk-text-bold">
                                <!-- <i class="material-icons">face</i>  -->
                                Last name
                            </span>
                        </div>
                        <input type="text" class="form-control" required name="last_name" id="last_name_id"
                            placeholder="Your Last name" value="{{request.user.last_name}}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="icon calendar alternate"></i> Date of Birth
                            </span>
                        </div>
                        <input type="date" class="form-control" required name="dob" id="dob_id"
                            placeholder="Date of birth" value="{{partner.date_of_birth|date:'Y-m-d'}}">
                    </div>
                    <div class="uk-margin">
                        <div class="input-group-prepend col-csxx-x-14">
                            <div class="input-group-text">
                                Gender:
                            </div>
                        </div>
                        <div class="col-csxx-x-14">
                            <select class="ui fluid dropdown" data-style="btn btn-link" name="gender" id="gender_id"
                                class="form-control" required>
                                <option value="{{partner.gender}}" selected="selected"> {% if partner.gender %}
                                    {{partner.gender}} {% else %} select {% endif %} </option>
                                <option value='Male'>Male</option>
                                <option value='Female'>Female</option>

                            </select>
                        </div>

                    </div>
                    <div class="uk-margin">
                        <div class="input-group-prepend col-csxx-x-14">
                            <div class="input-group-text">
                                Material Status:
                            </div>
                        </div>
                        <div class="col-csxx-x-14">
                            <select class="ui fluid dropdown" data-style="btn btn-link" name="marriage" id="marriage_id"
                                class="form-control" required>
                                <option value="{{partner.marital_status}}" selected="selected">
                                    {% if partner.marital_status %} {{partner.marital_status}} {% else %} select {% endif %}
                                </option>
                                <option value='Single'>Single</option>
                                <option value='Married'>Married</option>
                                <option value='Divorced'>Divorced</option>
                                <option value='Widowed'>Widowed</option>

                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="input-group uk-padding-small uk-border-rounded card-header-info uk-margin-small-top"
                style="box-shadow: none;">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons" style="color: white;">contacts</i>
                    </span>
                </div>
                <div>
                    Contact Details
                </div>
            </div>
            <div class="card uk-margin-small-top">

                <div class="card-body uk-margin-large-bottom">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">email</i>
                            </span>
                        </div>
                        <input type="email" class="form-control" required name="email" id="email_id" placeholder="Email"
                            value="{{request.user.email}}">
                    </div>


                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">phone</i>
                            </span>
                        </div>
                        <input type="text" class="form-control" required name="phone" id="phone_id"
                            placeholder="Phone number" value="{{partner.phone_number}}">
                    </div>
                </div>
            </div>
            <div class="input-group uk-padding-small uk-border-rounded card-header-info uk-margin-small-top"
                style="box-shadow: none;">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons" style="color: white;">location_on</i>
                    </span>
                </div>
                <div>
                    Residential Address
                </div>
               <i class="icon help uk-icon-button large uk-position-center-right" uk-tooltip="Due the current Corona Virus pandemic, we do collect our users's residential details for contact tracing. You information is private with us and will only be used for the sole purpose stated earlier" ></i>
            </div>
            <div class="card uk-margin-small-top">

                <div class="card-body uk-margin-large-bottom">
                    <div class="uk-margin">
                        <div class="input-group-prepend col-csxx-x-14">
                            <div class="input-group-text">
                                Number:
                            </div>
                        </div>
                        <input type="number" class="form-control col-csxx-x-14" name="street_number" required
                            value="{{partner.street_number}}" id="id_street_number">
                    </div>


                    <div class="uk-margin">
                        <div class="input-group-prepend  col-csxx-x-14">
                            <span class="input-group-text">
                                Street:
                            </span>
                        </div>
                        <input type="text" class="form-control col-csxx-x-14" name="street" required id="id_street"
                            value="{{partner.street}}">
                    </div>


                    <div class="uk-margin">
                        <div class="input-group-prepend  col-csxx-x-14">
                            <span class="input-group-text">
                                Landmark:
                            </span>
                        </div>
                        <input type="text" placeholder="e.g Hospitals, Schools, Petrol Stating, Churches"
                            class="form-control col-csxx-x-14" name="landmark" required id="id_landmark"
                            value="{{partner.landmark}}">
                    </div>

                    <div class="uk-margin">
                        <div class="input-group-prepend  col-csxx-x-14">
                            <span class="input-group-text">
                                Nearest Bus-stop:
                            </span>
                        </div>
                        <input type="text" placeholder="e.g Hospitals, Schools, Petrol Stating, Churches"
                            class="form-control col-csxx-x-14" name="busstop" required id="id_busstop"
                            value="{{partner.nearest_bus_stop}}">
                    </div>
                    <div class="uk-margin">
                        <div class="input-group-prepend col-csxx-x-14">
                            <div class="input-group-text ">
                                City:
                            </div>
                        </div>
                        <input type="text" class="form-control col-csxx-x-14" name="city" required id="id_city"
                            value="{{partner.city}}">
                    </div>


                    <div class="uk-margin">
                        <div class="input-group-prepend col-csxx-x-14">
                            <div class="input-group-text">
                                State:
                            </div>
                        </div>
                        <div class="col-csxx-x-14">
                            <select class="ui fluid search dropdown" data-style="btn btn-link" name="state" id="state"
                                class="form-control" required>
                                <option value="{{partner.state}}" selected="selected">{{partner.state}}</option>
                                <option value='Abia'>Abia</option>
                                <option value='Adamawa'>Adamawa</option>
                                <option value='AkwaIbom'>AkwaIbom</option>
                                <option value='Anambra'>Anambra</option>
                                <option value='Bauchi'>Bauchi</option>
                                <option value='Bayelsa'>Bayelsa</option>
                                <option value='Benue'>Benue</option>
                                <option value='Borno'>Borno</option>
                                <option value='Cross River'>Cross River</option>
                                <option value='Delta'>Delta</option>
                                <option value='Ebonyi'>Ebonyi</option>
                                <option value='Edo'>Edo</option>
                                <option value='Ekiti'>Ekiti</option>
                                <option value='Enugu'>Enugu</option>
                                <option value='Gombe'>Gombe</option>
                                <option value='Imo'>Imo</option>
                                <option value='Jigawa'>Jigawa</option>
                                <option value='Kaduna'>Kaduna</option>
                                <option value='Kano'>Kano</option>
                                <option value='Katsina'>Katsina</option>
                                <option value='Kebbi'>Kebbi</option>
                                <option value='Kogi'>Kogi</option>
                                <option value='Kwara'>Kwara</option>
                                <option value='Lagos'>Lagos</option>
                                <option value='Nasarawa'>Nasarawa</option>
                                <option value='Niger'>Niger</option>
                                <option value='Ogun'>Ogun</option>
                                <option value='Ondo'>Ondo</option>
                                <option value='Osun'>Osun</option>
                                <option value='Oyo'>Oyo</option>
                                <option value='Plateau'>Plateau</option>
                                <option value='Rivers'>Rivers</option>
                                <option value='Sokoto'>Sokoto</option>
                                <option value='Taraba'>Taraba</option>
                                <option value='Yobe'>Yobe</option>
                                <option value='Zamfara'>Zamafara</option>
                                <option value='Abuja'>Abuja</option>
                            </select>
                        </div>

                    </div>

                    <div class="uk-margin" style="z-index: 2;">
                        <div class="input-group-prepend  col-csxx-x-14">
                            <div class="input-group-text">
                                LGA:
                            </div>
                        </div>
                        <div class="col-csxx-x-14">
                            <select class="ui fluid search dropdown" data-style="btn btn-link" name="lga" id="lga"
                                class="form-control" required>
                                <option value="{{partner.lga}}" selected="selected">{{partner.lga}}</option>
                            </select>
                        </div>

                    </div>


                </div>


            </div>
          
        </div>
        <div class="uk-text-center">
            <button class="btn btn-primary uk-border-pill" type="submit">Save</button>
        </div>
    </form>

</div>




<script>
    $("#profileform").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {
                $('#loader-cover').show()
            },
            complete: function () {

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                window.location = "#top"
                if (response.profile_updated) {


                    $('#notification-modal-inner').empty()
                    $('#notification-modal-inner').append(response.successcontent)
                    $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
                    UIkit.modal($('#notification-modal')).show();
                }

                if (response.content) {
                    window.location = "#top"
                    $('#inner-container').empty()
                    $('#inner-container').append(response.content)
                    $('#tab-header').empty()
                    $('#tab-header').append(response.header)
                    $('#loader-cover').hide()
                }

            },
            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });

    $('.ui.dropdown').dropdown()

    {% include 'custom/lga.js' %}

</script>